<main class="app-container">
  <!-- Cabecera Global Minimalista -->
  <header class="app-header glass-panel">
    <div class="logo">
      <span class="text-accent">ZZZ</span> ACADEMY
    </div>
    <nav class="main-nav">
      <a routerLink="/catalog" routerLinkActive="active" class="nav-link">Catálogo</a>
      <a routerLink="/wengines" routerLinkActive="active" class="nav-link">W-Engines</a>
      <a routerLink="/bangboos" routerLinkActive="active" class="nav-link">Bangboos</a>
      <a routerLink="/discos" routerLinkActive="active" class="nav-link">Discos</a>
      
      <!-- Si NO está logueado -->
      <ng-container *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login" class="nav-link text-accent">Entrar</a>
      </ng-container>

      <!-- Si SÍ está logueado -->
      <ng-container *ngIf="authService.isLoggedIn()">
        <a routerLink="/roster" class="nav-link">Mi Roster</a>
        <a *ngIf="authService.isAdmin()" routerLink="/admin" class="nav-link text-accent">🛡️ Panel Admin</a>
        <a (click)="logout()" class="nav-link text-danger">Salir</a>
      </ng-container>
    </nav>
  </header>

  <!-- Contenedor Principal donde se cargarán las rutas (Login, Home, Roster...) -->
  <section class="router-container">
    <router-outlet></router-outlet>
  </section>
</main>
